ody .is-layout-flex {
    display: flex
;
}
.wp-container-core-columns-is-layout-9d6595d7 {
    flex-wrap: nowrap;
}
.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}
@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap !important;
    }
}
.wp-block-columns {
    align-items: normal !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;


    flex-wrap: wrap !important;
}
* {
    font-family: 'Open Sans', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}
:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}
:where(.is-layout-flex) {
    gap: 0.5em;
}
:where(.wp-block-columns) {
    margin-bottom: 1.75em;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    visibility: visible;
    animation-name: fadeIn;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
body {
    padding-top: 125px;
    font-size: 14px;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}