<section id="banner" class="banner-section pre in animate-fade-in" style="background: linear-gradient(to right, rgb(21, 128, 61), rgb(22, 101, 52));">
<div class="ms-background">  <div class="banner-container fade-in" id="banner-content">
    <div class="banner-left">
      <div class="banner-icon pop-animate" id="banner-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 2H4v20l8-4 8 4V2z"></path></svg></div>
      <div class="banner-info">
        <h3 id="banner-title">Announcement: New Embedded Batch</h3>
        <p id="banner-desc">Enroll now for the upcoming embedded systems batch.</p>
      </div>
    </div>
    <div>
      <a id="banner-cta" href="/./src/admissions.html" class="banner-btn">Enroll Today</a>
    </div>
  </div>

  <div class="banner-dot-container">
    <button class="banner-dot" onclick="showBanner(0)"></button>
    <button class="banner-dot" onclick="showBanner(1)"></button>
    <button class="banner-dot active" onclick="showBanner(2)"></button>
  </div>
  </div>

</section>